    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #203c9b;
        background-image: url("https://i.pinimg.com/originals/16/b4/a2/16b4a261f62397dda6780d6c390b15ef.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        font-family: 'Indie Flower', cursive;
    }
    
    #top {
        text-align: center;
        margin: 0 auto;
    }
    
    #top p,
    #top a {
        color: #e1bd2d;
        text-shadow: 3px 3px 3px #352b00;
    }
    
    #top label {
        color: #cc6887;
    }
    
    #title {
        font-family: 'Great Vibes', cursive;
        font-size: 3em;
        color: #e1bd2d;
    }
    
    #message {
        text-align: center;
        color: #fdcfde;
    }
    
    #message p {
        width: 400px;
        margin: 0 auto;
    }
    
    label {
        display: block;
    }
    
    .card_list {
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
        display: flex;
    }
    
    .cards {
        background-color: rgb(235, 211, 180);
        background-image: url("https://img.freepik.com/free-photo/brown-paper-texture-background_1373-528.jpg?size=338&ext=jpg");
        padding: 10px;
        margin: 20px;
        width: 20%;
        min-width: 240px;
        border-radius: 2.5%;
    }
    
    .cards li {
        font-size: 1em;
        font-weight: normal !important;
    }